<h2>ORGANIGRAMA</h2>

<angular-org-chart [nodeTemplate]="nodeTemplate" [data]="tree" #exampleChart="orgChart">

  <!-- OPTIONAL: zoom button with an ugly png -->
  <button zoom-button class="zoom-button" (click)="exampleChart.toggleZoom()">
    <img src="assets/zoom-in-out.png" width="100%" alt="ZoomInOut">
  </button>

</angular-org-chart>

<!-- Node Template -->
<ng-template #nodeTemplate let-node>
  <div class="chart-node">
    <div (click)="showModal(node!)">
      <img class="dot" width="60" height="60" [src]="node?.image" alt="">
      <div style="color: white" class="name">{{node?.name}}</div>
      <div style="color: white" class="description">{{node?.description}} </div>
    </div>

    <!-- An ugly button to fold/unfold -->
    <div *ngIf="node.children.length" (click)="node.hideChildren = !node.hideChildren"
         class="tree-fold-btn">{{node.hideChildren ? '+' : '-'}}</div>
  </div>
</ng-template>


<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="this.selectedNode?.description"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>Custom Modal Title</ng-template>

  <ng-template #modalContent>

    <div class="center">
      <nz-avatar nzSrc="{{this.selectedNode?.image}}" [nzSize]="150" nzIcon="user"></nz-avatar>
      <h3>{{this.selectedNode?.name}}</h3>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">QUITAR</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">BUSCAR CANDIDATO</button>
  </ng-template>
</nz-modal>
