<h1>Contrataciones</h1>
<br>
<div nz-row>
  <div nz-col [nzSpan]="18" [nzPush]="6">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
        type="text"
        nz-input
        placeholder="BUSCAR"
        [(ngModel)]="searchValue"
        (input)="onChange($event)"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" (click)="search()" nzSearch><span nz-icon nzType="search"></span></button>
    </ng-template>

  </div>

</div>
<br>
<nz-table #fixedTable [nzTableLayout]="'auto'" nzSize="small" [nzData]="listOfDisplayData">
  <thead>
  <tr>
    <th>PUESTO</th>
    <th>NOMBRE DEL SOLICITANTE</th>
    <th>FECHA INICIO</th>
    <th>FECHA TERMINO</th>
    <th>SOLICITUD</th>
    <th>SUELDO INICIAL</th>
    <th>ACCION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of fixedTable.data">
    <td>{{ data.idPuesto }}</td>
    <td>{{ data.nombre }}</td>
    <td>{{ data.fechaInicio }}</td>
    <td>{{ data.fechaTerminoContrato }}</td>
    <td>{{ data.idSolicitud }}</td>
    <td>{{ data.sueldoInicial }}</td>
    <td>
      <!--<button class="btn-edicion" nz-button nzType="primary" (click)="showModal(data)">
        <span>EDITAR</span>
      </button>-->
      <!--<button class="btn-edicion" nz-button nzType="primary" (click)="showConfirm()" nzDanger>ELIMINAR</button>-->
      <span class="btn-delete" nz-icon nzType="delete" (click)="showConfirm()" nzTheme="outline"></span>
      <span class="btn-edit" nz-icon nzType="edit" (click)="showModal(data)" nzTheme="outline"></span>
      <span class="btn-print" nz-icon nzType="printer" nzTheme="outline"></span>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" [nzWidth]="'60%'" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label >Nombre</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Nombre"
                value="{{currentData.nombre}}"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label >Puesto</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Puesto"
                value="{{currentData.idPuesto}}"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label >FECHA DE INICIO</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Fecha de inicio"
                value="{{currentData.fechaInicio}}"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label >FECHA DE TERMINO</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder=""
                value="{{currentData.fechaTerminoContrato}}"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label >SOLICITUD</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Solicitud"
                value="{{currentData.idSolicitud}}"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label >Sueldo</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="number"
                placeholder="Sueldo"
                value="{{currentData.sueldoInicial}}"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>
