<div class="container-fluid p-0 h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-4 d-none d-lg-flex" style="background-color: #1f7199">
      <div class="d-flex h-100 p-h-40 p-v-15 flex-column justify-content-between">
        <div>
          <img src="assets/images/logo/logo.jpg" alt="" width="50%" style="border-radius: 20%">
        </div>
        <div>
          <h1 class="text-white m-b-20 font-weight-normal">Recursos Humanos</h1>
          <p class="text-white font-size-16 lh-2 w-80 opacity-08">“La gestión del proyecto se puede definir como una
            forma de desarrollar la estructura en un proyecto complejo, donde las variables independientes de tiempo,
            costo, recursos y comportamiento humano se juntan”</p>
        </div>
        <div class="d-flex justify-content-between">
          <span class="text-white">© Candidatos</span>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-white text-link" href="">Terminos</a>
            </li>
            <li class="list-inline-item">
              <a class="text-white text-link" href="">Privacidad</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 bg-white">
      <div class="container h-100">
        <div class="row no-gutters h-100 align-items-center">
          <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
            <h2>Ingresar</h2>
            <p class="m-b-30">Ingresa tu Correo y Contraseña para Ingresar</p>
            <form nz-form [formGroup]="loginForm" nzLayout="vertical" class="login-form" (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="Email">Correo</nz-form-label>
                <nz-form-control nzErrorTip="Correo Invalido!">
                  <nz-input-group [nzPrefix]="prefixUser">
                    <input type="text" nz-input formControlName="Email" placeholder="Correo">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired nzFor="password">Contraseña</nz-form-label>
                <a class="font-size-13 p-t-10 text-muted" style="position:absolute; right: 0"
                   [routerLink]="['/authentication/reset-password-1']">¿Olvidaste tu contraseña?</a>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group [nzPrefix]="prefixLock">
                    <input type="password" nz-input formControlName="password" placeholder="Contraseña">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="font-size-13 text-muted">¿No tienes una cuenta? <a class="small"
                                                                                    [routerLink]="['/authentication/sign-up-1']"> Crear cuenta</a></span>
                    <button nz-button class="login-form-button" (click)="iniciarSesion()" [nzType]="'primary'">IniciarSesion
                    </button>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </form>
            <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
            <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



