<div class="container-fluid p-0 h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-4 d-none d-lg-flex" style="background-color: #1f7199;" >
      <div class="d-flex h-100 p-h-40 p-v-15 flex-column justify-content-between">
        <div>
          <img style="border-radius: 20%" src="assets/images/logo/WhatsApp%20Image%202022-12-08%20at%2000.16.26.jpeg" alt="" width="50%" >
        </div>
        <div>
          <h1 class="text-white m-b-20 font-weight-normal">CANDIDATOS</h1>
          <p class="text-white font-size-16 lh-2 w-80 opacity-08">Sistema de Recursos Humanos especializado</p>
        </div>
        <div class="d-flex justify-content-between">
          <span class="text-white">© 2022 CANDIDATOS</span>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-white text-link" href="">Terminos</a>
            </li>
            <li class="list-inline-item">
              <a class="text-white text-link" href="">Privacidad</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 bg-white">
      <div class="container h-100">
        <div class="row no-gutters h-100 align-items-center">
          <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
            <h2>REGISTRATE</h2>
            <p class="m-b-30">Crea una cuenta para ingresar</p>
            <form nz-form [formGroup]="signUpForm" class="login-form" nzLayout="vertical" (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="userName">Usuario</nz-form-label>
                <nz-form-control nzErrorTip="Please input your username!">
                  <input type="text" nz-input formControlName="userName" placeholder="Usuario" id="userName">
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired nzFor="email">Correo electronico</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input type="text" nz-input formControlName="email" placeholder="Correo electronico" id="email">
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired nzFor="password">Contraseña</nz-form-label>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <input type="password" nz-input formControlName="password" placeholder="Contraseña" id="password">
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzFor="checkPassword" nzRequired>Confirma tu contraseña</nz-form-label>
                <nz-form-control nzErrorTip="Please confirm your password!">
                  <input nz-input type="password" formControlName="checkPassword"  placeholder="Confirma tu contraseña" id="checkPassword">
                </nz-form-control>
              </nz-form-item>
              <div class="d-flex align-items-center justify-content-between">
                <nz-form-item>
                  <nz-form-control>
                    <label nz-checkbox formControlName="agree">
                      <span>He leido las politicas y <a>Estoy de acuerdo</a></span>
                    </label>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <div >
                      <button nz-button class="login-form-button" [nzType]="'primary'">Crear cuenta</button>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
